<div class="jumbotron">
  <h1 class="text-primary text-center">
    <span class="fa fa-user"></span> Profile Information
  </h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <% if (user) { %>
          <p>
            <strong>ID</strong>: <%= user.id %><br />
            <strong>Name</strong>: <%= user.name %><br />
            <% if (user.googleId) { %>
              <strong>Email (Google)</strong>: <%= user.email %><br />
              <strong>Avatar (Google)</strong>: <img src="<%= user.avatar %>" alt="Google Avatar" /><br />
            <% } %>
            <% if (user.twitterId) { %>
              <strong>Twitter ID</strong>: <%= user.twitterId %><br />
              <strong>Avatar (Twitter)</strong>: <img src="<%= user.avatar %>" alt="Twitter Avatar" /><br />
            <% } %>
          </p>
        <% } else { %>
          <p>User information not available.</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
